
div.col:nth-child(1) {
    margin-bottom: 10px;
    }

a {
    text-decoration: none;
    }


.btn-outline-secondary {
    color:#0d6efd;
    border-color:#6c757d
    }
       
#qty {
    width: 50px;
    }
    
#employee {
    width: 100px;
    }
    
#total {
    width: 100px;
    text-align: center;
    border: none;
    }
       