{% extends 'store/base.html' %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for item in item_list %}
        <div class="col gy-3">
            <div class="card shadow-sm">
            <img width="100%" height="225" src="{{ item.image.url }}" alt="">
            <div class="card-body">
                <h5>{{ item.title }}</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-muted">{{ item.price }} грн</h5>
                <div class="btn-group">
                    <a class="btn btn-primary rounded btn-sm ml-0 px-3" href="{% url 'item-detail' item.slug %}">Купить</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
</div>

{% include 'store/pagination.html' %}

{% endblock %}