{% extends 'store/base.html' %}
{% load static %}
{% block title %} {{ item.title }} {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ item.image.url  }}" class="img-thumbnail" alt="...">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col text-center">Товар: </div>
                    <div class="col text-center">{{ item.title }}</div>
                </div>
                <div class="row">
                    <div class="col text-center">Цена: </div>
                    <div id="price" class="col text-center">{{ item.price }} грн.</div>
                </div>
                    <form action="post">
                        <div class="row">
                            <div class="col text-center">
                                <label for="employee">Выберите продавца:</label> 
                            </div>
                            <div class="col text-center">
                                <select id="employee" name="employee" value="{{ employee }}">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <label for="qty">Количество ед. товара: </label> 
                            </div>
                            <div class="col text-center">
                                <div>
                                    <input type="number" id="qty" name="qty" value="1" min="1">
                                </div>
                            </div>
                        </div>
                    </form>
                <div class="row">
                    <div class="col text-center"><strong>Общая цена:</strong></div>
                    <div class="col text-center">
                        <strong>
                            <input type="text" id="total" name="total" value="{{ item.price }}">
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"></div>
                    <div class="col text-center">
                        <button type="button" class="btn btn-success">Оплатить</button>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
 
    <script>
        
        let sel = document.getElementById('employee');
        //parse context data
        let emp = JSON.parse("{{ employee|escapejs }}")
        
        for (let i = 0; i < emp.length; i++) {
            // create new option element
            let op = document.createElement("option");
            op.value = emp[i][0];
            op.text = emp[i][0];
            // add opt to end of select box (sel)
            sel.appendChild(op);         
        }      
        //Count total price                                      
        let price = JSON.parse("{{ item.price|escapejs }}")
        let qty = document.getElementById("qty")
        let total_price = document.getElementById("total")

        qty.onchange = function () {
            total_price.value = (price * qty.value).toFixed(2);
        }

    </script>

{% endblock %}