{% extends 'store/base.html' %}
{% load static %}

{% block title %}Продажи{% endblock %}

{% block content %}

<div class="content">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Фото</th>
                <th>Товар</th>
                <th>Цена, грн.</th>
                <th>Продавец</th>
                <th>Кол-во товара</th>
                <th>Дата продажи</th>
                <th>Общая цена, грн.</th>
            </tr>
        </thead>
        {% for sale in sale_list %}
        <tr>
            <td><img src="{{  sale.item.image.url }}" width="100" alt="..."></td>
            <td>{{ sale.item.title }}</td>
            <td>{{ sale.item.price }}</td>
            <td>{{ sale.employee }}</td>
            <td>{{ sale.qty }}</td>
            <td>{{ sale.date_sales|date:"j/ m /y"}}</td>
            <td>{{ sale.total_price }}</td>
        </tr>
        {% endfor %}
    </table>
   
  {% include 'store/pagination.html' %}
</div>

{% endblock %}